# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

*.idea

android.gradle.properties
android/app/my-upload-key.keystore
ship-ecommerce-notification-firebase-adminsdk-do9we-3bb0f8e9d4.json

#Build Folder: If you are using a custom build folder for Android/iOS, it’s good to ignore those as well:
android/build/
android/app/build
ios/build/

#Babel Cache: Consider ignoring Babel cache files:
.babelrc
.babelrc.js
